.headToolbar {
    border: 12px, solid, orange;
    display: flex;
    justify-content: space-between;
    margin: 12px;
}

.headToolbar a {
    font-size: 11px;
    text-decoration: none;
}

div.glogo img {
    margin: auto;
    margin-top: 12%;
    padding: 10px;
    display: flex;
    justify-content: center;
}

div.searchBox input {
    margin: auto;
    margin-top: 23px;
    width: 35%;
    padding: 10px;
    display: flex;
    justify-content: center;
}
div.userButtons {
    display: flex;
    justify-content: center;
    margin-top: 32px;
}

button.searchButton {
    width: 10%;
    margin-right: 5px;
}

button.feelingLuckyButton {
    width: 10%;
    margin-left: 5px;
}

/*
Center buttons in the middle of the page.
Make sure the buttons are side by side. (Inline, perhaps.)
Increase the width of buttons while retaining even spacing between them.
*/